.back_botton {
  width: max-content;
  border-radius: 100px;
  border: 2px solid #fdfdfd;
  /* opacity: 0.5; */
  /* background: #ffffff80; */
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.88px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.8) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  width: 200px;
  height: 70px;
  justify-content: space-between;
  padding: 0 1.2em;
  margin-top: 5em;
  margin-bottom: 3.5em;
}
.back_botton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: #ffffff80;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  /* z-index: 0.4; */
}
.back_botton svg {
  width: 60px;
}
