@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #c4adf0;
  /* padding: 0 60px; */
}
a {
  text-decoration: none;
}
