/* .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    overflow: hidden;
    width: 80vw; 
    border: "none";
    height: 70vh;
    padding-bottom: 10px;
  }
.video-iframe{
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;
} */

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  width: calc(50% - 8px);
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@media (max-width: 600px) {
  .video-container {
    height: 60vh;
    width: 94vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .video-container {
    height: 66vh;
    width: 80vw;
  }
}
@media (min-width: 901px) {
  .video-container {
    height: 70vh;
    width: 80vw;
  }
}